.createEvent {
  min-width: 45px;
  border-radius: 25px;
  height: 35px;
  margin: 0;
  padding: 0;
  transition: 0.25s ease-in-out;
  margin-bottom: 8px;
}

.createEventClicked {
  border: 1px solid #00bdf1;
}

.createEvent:hover {
  opacity: 0.8;
}

.createEventForm {
  position: absolute;
  width: clamp(300px, 50%, 500px);
  height: 500px;
  background-color: #ffcac9;
  left: 50%;
  top: 50%;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.185);
  transform: translateX(-50%) translateY(-50%);
  padding: 15px;
}

.createEventForm h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: black;
}

.steps {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-around;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 5px 7px #ffcac9;
  border-radius: 100%;
  background-color: white;
  width: 35px;
  height: 35px;

  transition: 0.25s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.step h1 {
  /* transition: 0.12s ease-in-out; */
  /* transition: 0.35s ease-in-out; */
}

.stepActive {
  cursor: auto;
  transition: 0.35s ease-in-out;
  background: linear-gradient(to right, #f14658, #fa7cbb);
}

.stepLine {
  width: clamp(200px, 30vw, 300px);
  height: 5px;
  border-radius: 50px;
  position: absolute;
  z-index: -1;
  background-color: white;
  color: white;
  cursor: auto;
  pointer-events: none;
  margin-left: clamp(200px, 35vw, 332.5px);
  opacity: 1;
}

.theStepLine {
  transition: 0.5s ease-in-out;
  background: linear-gradient(to right, #fa7cbb, #f14658);
  height: 100%;
  border-radius: 50px;
  width: 0px;
  border-radius: 50px;
}

.stepHalf {
  width: 50%;
}

.stepCheck {
  position: absolute;
  color: white;
  transition: 0.25s ease-in-out;
  opacity: 0;
}

.removeStepCounter {
  transition: none;
  opacity: 0;
}

.stepCheckShow {
  opacity: 1;
}

.stepFinished {
  width: 100%;
}

.step:hover {
  background-color: #e5e7e5;
}

.titleCover {
  position: relative;
  height: 30px;
  width: 200px;
}

.titleCover input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  border-style: none;
  background: transparent;
  border-bottom: 1px solid white;
  width: 100%;
  position: relative;
  outline: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
}

.titleCover label {
  color: white;
  position: absolute;
  top: 9px;
  left: -1px;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 1.5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.6;
  color: black;
  pointer-events: none;
}

.titleCover input:focus {
  outline: none;
  border-color: #0077cc;
  box-shadow: inset 0 -10px 1px -10px #0077cc;
}

.titleCover input:focus ~ label,
.titleCover input:not(:placeholder-shown) ~ label {
  top: -10px;
  font-size: 0.75rem;
  color: #0077cc;
  /* text-shadow: 0px 0px 1px #0077cc; */
}

.titleFormCover {
  margin-top: 20px;
  height: 90%;
  opacity: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  grid-template-rows: 1fr 1fr 1fr;
}

.descriptionCover {
  grid-column: 1/-1;
  grid-row-start: 2;
  width: 100%;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1.5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  transition: 0.25s ease-in-out;
}

.descriptionCover textarea {
  resize: none;
  height: 75px;
  width: 75%;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  border: none;
  transition: 0.25s ease-in-out;
  padding: 10px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
}

.titleImgCover svg {
  color: white;
  height: 55px;
  pointer-events: none;
  position: absolute;
  margin-bottom: 15px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.titleImgCover {
  display: flex;
  width: min-content;
  border-radius: 50%;
  justify-content: center;
  border: 5px double rgb(255, 255, 255);
  align-items: center;
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
}

.titleImgCover img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  transition: 0.25s ease-in-out;
}

.titleImgCover img:hover {
  opacity: 0.3;
  cursor: pointer;
}

.titleImgCover img:hover + svg {
  opacity: 1;
}

.imageAndTitleCover {
  grid-row-start: 1;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titleFormCover button {
  justify-self: center;
  align-self: center;
  background-color: white;
  color: black;
  grid-column: 1/-1;
  grid-row-start: 3;
  min-width: fit-content;
  width: 100px;
  height: 75px;
  border-radius: 25px;
  letter-spacing: 1.5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  border: 3px solid white;
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
}

.titleFormCover button:hover {
  border-color: black;
}

.removeCurrentForm {
  transition: 0.15s ease-in-out;
  opacity: 0;
}

.moneyGoalCover {
  grid-column: 1/-1;
  justify-self: center;
  display: flex;
  /* gap: 10px; */
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
}

.moneyGoalCover button {
  padding: 10px;
}

.moneyGoalCover button input {
  width: 15px;
}

#moneyGoalActive {
  transition: 0.25s ease-in-out;
  border-color: blue;
}

.deadlineCover {
  display: flex;
  justify-content: space-evenly;
}

.giftIdeas {
  display: flex;
  gap: 20px;
  height: 35px;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  padding: 20px;
}

.giftIdeas button {
  height: 25px;
}

.deadlineGiftCover {
  grid-column: 1/-1;
  grid-row-start: 2;
  align-items: start;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 99%;
  height: 100%;
}

.eventConfirm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eventsPage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.05fr 1fr;
}

.eventsCover {
  padding: 10px;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 10px;
}

.event {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 15px;
  overflow-wrap: break-word;
}
