.startBtn {
  width: 50px;
  height: 50px;
  background-color: #61dafb; /*Could be excluded*/
  border-radius: 15px;
  border: 5px solid rgb(144, 210, 245);
  transition: 0.25s ease-in-out;
  animation: App-logo-spin infinite 20s linear;
}

.startBtn:hover {
  background-color: #00bdf1;
  border: 5px solid rgb(94, 136, 242);
}

.startBtnActivated {
  background-color: rgb(173, 255, 169);
  border: 5px solid black;
  opacity: 1;
}

.startBtnBuffer {
  opacity: 0.6;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.engineer {
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
