p, div {
    font-family: Neue Montreal;
  }
  
  .logintitle { 
    font-size: 24px;
    line-height: 60px;
    float: left;
    font-weight: bold;
    font-family: Neue Montreal;
    text-align: center;
  }

  .signuptitle { 
    font-size: 18px;
    line-height: 60px;
    float: left;
    font-weight: normal;
    text-align: left;
  }
  .signuptitletwo { 
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 15px;
    float: left;
    font-weight: normal;
    text-align: left;
  }

  body{
    margin:0;
    padding:0;
  }

  .linkstyle {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: smaller;
    margin-left: 145px;
    margin-top: 15px;
  }

  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 246, 253);
    background-image: url('Signup\ D.jpg');
    background-position-y: 30%;
    opacity: 0.9;
    background-size: cover;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: 50%;
    min-width: 100px;
    min-height: 300px;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0px 8px 36px #E5E5E5;
    background-color: #fefefe;
  }

  .form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
  }

  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }

  input {
    padding: 15px 15px;
    border-radius: 20px;
    font-family: Neue Montreal;
    outline: none;
    border: 2px solid #E5E5E5;
  }

  input::placeholder {
    font-size: 1.0em;
    font-weight: bold;
    font-weight: lighter;
    color: #000;
  }

  button {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding:  0.938em;
    border: none;
    font-family: Neue Montreal;
    font-weight: normal;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #fefefe;
  }

  button:hover {
    background-color: rgb(92, 202, 251);
    color: #fefefe;
  }

  .fullname,
  .username,
  .email,
  .password {
    display: flex;
    border-radius: 5px 20px 5px;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }

  .submit {
    width: 100%;
    border-radius: 500px;
    display: flex;
    flex-wrap: wrap;
  }
