.web-header{
  font-family: "Roboto", "Camie Regular", "Comic Sans MS";
  width: 100%;
  height: 50px;
  position: absolute;   
  display: flex;
  top: 0px;
  background: #ffffff;
}

.header img {
  width: 200px;
  height: 50px;
  
}

.logo{
    float: left;
    color: blue;
    font-size: 50;
    position: relative;
    text-align: center;
}

