.paper {
    position: absolute;
    /* height: 550px;
    width: 450px; */
    width: 80%;
    height: 100%;
    /* background: rgba(255,255,255,0.9); */
    /* margin: -275px -225px; */

    /* box-shadow: 0px 0px 5px 0px #888; */
  }
  .paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
  }
  .lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  }
  .text {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    font-family: 'Indie Flower';
    overflow: hidden;
    outline: none;
  }
