:local .header {
  width: 100vw;
  height: 4rem;
  position: sticky;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  top: 0;
  background: #ffffff;
}

:local .header img {
  width: fit-content;
  transition: 0.25s ease-in-out;
  height: 50px;
}

:local .sign-links {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 15px;
}

:local .sign-links button {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  width: 100px;
  height: 35px;

  padding: 0;
  margin: 0;
  /* color: black; */
}

:local .header img:hover {
  opacity: 0.6;
}

:local .navbarCover {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
}
